table,td,th
{
	text-align: center;
	border:1px solid black;
}

	th
	{
		width: 10.28%;
	}
	
	td
	{
		position: sticky;

		height: 8rem;
		width: 100%;
	}
		.id
		{
			width:5rem;
		}
		


		td img

		{
			position: absolute;

			left: 0;
			top: 0;

			width:100%;
			height:100%;
		}
		p
		{
			top:0;
		}